@inherits GTourComponent

@if (OverlayEnabled && IsActive)
{
  <div data-gtour-overlay="@TourId" @ref="OverlayElement" class="guided-tour-overlay @SelectedTheme.GTourOverlay @OverlayClass" @onclick="@(async (e) => { if (CloseOnOverlayClick) await TourService.CancelTour(); })"></div>
}
<div @attributes=UnmatchedAttributes data-gtour-wrapper="@TourId" @ref="WrapperElement" hidden="@(!IsActive)" role="tooltip" class="guided-tour-wrapper @SelectedTheme.GTourWrapper @TourWrapperClass">
  <CascadingValue Value=this>
    @ChildContent
  </CascadingValue>

  @if (ShowArrow)
  {
    if (ArrowContent == null)
    {
      <div data-gtour-arrow="@TourId" class="arrow @SelectedTheme.GTourArrow @ArrowClass" data-popper-arrow></div>
    }
    else
    {
      @ArrowContent
    }
  }
</div>



